.order-item{
	font-size: 0.8em;
}
.order-item :hover{
	/*background-color: #fffaf2;*/
	border-color: #f40;
}
.order-item img{
	cursor: pointer;
}
.order-item  a {
    color: #3d3d3d;
	font-size: 1em;
	line-height: 1.5;
    /*text-decoration: none;*/
}
.order-item  p {
    margin: 0 0 0 0;
}
.order-item  h5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.order-item  .price{
	color: #888;
	font-size: 1em;
	/*position: absolute;
    left: 0;
    bottom: 0;*/
}

@media (min-width: 769px) {
	.order-item  .price .qiang-price{
		font-size: 20px;
	} 
}

@media (max-width: 768px) {
	.order-item  .price .qiang-price{
		font-size: 17px;
	} 
}

.order-item  .amount{
	color: #888;
	position: absolute;
    right: 2.7px;
    bottom: 2.7px;
}

.order-item  .amount .qiang-amount{
	/*font-size: 20px;*/
}

.order-item  .thumbnail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-item  h5{
    height: 36px;
    overflow: hidden;
}

@media (min-width: 768px) {
	.order-item .thumbnail{
		min-height: 339px;
	}
}

@media (max-width: 768px) {
	.order-item{
		padding-right: 5px;
		padding-left: 5px;
	}
	.order-item .thumbnail{
		min-height: 300px;
	}
}

.red-color {
	color: #f40;
}
#page-num  {
	margin: 0 0 20px 0;
}
.paginate-container {
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
}
#page-num ul{
	cursor: pointer;
}
#query{
	margin-bottom: 10px;
    margin-right: 0;
    margin-left: 0;
}
#query .btn-default:hover{
	background: #e67e22;
	border:1px solid red;
	color: #ffffff;
}

.more-part{
	display:none;
	padding-top:10px;
	/*margin-bottom:10px;*/
}
.show-more-part{
	display:block;
}
